# ==============================
# Dependencies
# ==============================
node_modules/
.pnp
.pnp.js

# ==============================
# Build Output
# ==============================
dist/
build/

# ==============================
# Logs
# ==============================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ==============================
# Testing
# ==============================
coverage/

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# IDE / Editor
# ==============================
.vscode/
.idea/
*.swp